# CSC440-Data Mining Homework 2 ( Written by Haoshu Qin )

Description:
This assignment is about similarity/dissimilarity/distance in hetrogyneous data sets  and is based largely on our lecture discussions of distance measurments.
Download and get to know the "Adult" census data base.(http://archive.ics.uci.edu/ml/datasets/Adult)
There are 14 attributes in this data set.
1. For each attribute design and program a similarity metric. This is a function that takes in two values attribute values and returns a result in the interval [0,1]. "0" meaning ' not similar at all' , "1" meaning 'similar'. 
2. Write a function that takes two entire records (two rows from the database) and returns a result in the interval [0,1]. "0" meaning ' not similar at all' , "1" meaning 'similar'. 
3. You should hand in a pdf that includes 15 subsections  - one for each attribute, and one for the overall function. Each section should contain a short (no more than one paragraph) explanation of how the function works why your strategy makes sense for that attribute and the code for the function itself (not the entire program).

## 0. Preparation

In [1]:
import pandas as pd

In [2]:
def read_data(address):
    data_tmp = []
    data_list = []
    with open(address, 'r') as f:
        data = f.readlines()
        for line in data:
            line = line.strip('\n')
            data_tmp.append(line)
    for item in data_tmp:
        item = item.replace(' ','').split(',')
        data_list.append(item)
    return data_list

data = read_data('adult.data')

In [3]:
column_names = ['Age', 'Workclass', 'fnlwgt', 'Education',
                'Education-num', 'Marital-status', 'Occupation',
               'Relationship', 'Race', 'Sex', 'Capital-gain',
               'Capital-loss', 'Hours-per-week', 'Native-country',
               'Salary']
data = pd.read_csv('adult.data', header = 0, names=column_names)

In [4]:
data.head()

,Age,Workclass,fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

## 1. Age

Description: 'Age' is a numeric(continuous) data. So I used the Manhattan distance to calculate the similarity and normalized the distance to the interval [0,1].

In [5]:
data = read_data('adult.data')
def calc_age_distance(data):
    min_age = int(data[0][0])
    max_age = int(data[0][0])
    for i in range (len(data)):
        if data[i][0].isdigit():
            if int(data[i][0]) < min_age:
                min_age = int(data[i][0])
            if int(data[i][0]) > max_age:
                max_age = int(data[i][0])
    return max_age - min_age

In [6]:
def age_sim(a1, a2, data):
    distance = calc_age_distance(data)
    if data[a1][0] == '?' or data[a2][0] =='?':
        return -1
    else:
        age1 = int(data[a1][0])
        age2 = int(data[a2][0])
        sim = 1 - (float(abs(age1 - age2))/float(distance))
        return sim

### Example 1.1

In [7]:
print(data[2][0], data[13][0])
#data[2][0] is 38, data[13][0] is 32.
age_sim(2, 13, data)
#Similarity is 0.9178082191780822.

38 32

0.9178082191780822

## 2. Workclass

Description: 'Workclass' is nominal data, such as Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked. So I compare the strings in the data and use 0 and 1 to indicate their similarity.

In [8]:
def workclass_sim(a1, a2, data):
    if data[a1][1] == '?' or data[a2][1] == '?':
        return -1
    else:
        if data[a1][1] == data[a2][1]:
            return 1
        else:
            return 0

### Example 2.1

In [9]:
print(data[3][1], data[12][1])
#data[3][1] is 'Private', data[12][1] is 'Private'.
workclass_sim(3, 12, data)
#Similarity is 1.

Private Private

1

### Example 2.2

In [10]:
print(data[14][1], data[19][1])
#data[14][1] is 'Private', data[19][1] is 'Self-emp-not-inc'.
workclass_sim(14, 19, data)
#Similarity is 0.

Private Self-emp-not-inc

0

## 3. fnlwgt

Description: 'fnlwgt' is a numeric(continuous) data. So I used the Manhattan distance to calculate the similarity and normalized the distance to the interval [0,1].

In [11]:
def fnlwgt_sim(a1,a2,data):
    min_val = max_val = int(data[0][2])
    for i in range(len(data)-1):
        if data[i][2].isdigit():
            if int(data[i][2]) < min_val:
                min_val = int(data[i][2])
            if int(data[i][2]) > max_val:
                max_val = int(data[i][2])
    distance = abs(max_val - min_val)
    if data[a1][2] == '?' or data[a2][2] == '?':
        return -1
    else:
        fnlwgt1 = int(data[a1][2])
        fnlwgt2 = int(data[a2][2])
        sim = 1 - (float(abs(fnlwgt1 - fnlwgt2))/float(distance))
        return sim

### Example 3.1

In [12]:
print(data[14][2], data[19][2])
#data[14][2] is 121772, data[19][2] is 292175.
fnlwgt_sim(14, 19, data)
#Similarity is 0.884270113147064.

121772 292175

0.884270113147064

## 4. Education

Description: 'Education' is ordinal data, such as Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool. So I compare the strings in the data and use 0 and 1 to indicate their similarity.

In [13]:
def edu_sim(a1, a2, data):
    if data[a1][3] == '?' or data[a2][3] == '?':
        return -1
    else:
        if data[a1][3] == data[a2][3]:
            return 1
        else:
            return 0

### Example 4.1

In [14]:
print(data[14][3], data[19][3])
#data[14][3] is 'Assoc-voc', data[19][3] is 'Masters'.
edu_sim(14, 19, data)
#Similarity is 0.

Assoc-voc Masters

0

### Example 4.2

In [15]:
print(data[10][3], data[12][3])
#data[10][3] is 'Some-college', data[12][3] is 'Bachelors'.
edu_sim(10, 12, data)
#Similarity is 0.

Some-college Bachelors

0

## 5. Education_num

Description: 'Education_num' is a numeric(continuous) data. So I used the Manhattan distance to calculate the similarity and normalized the distance to the interval [0,1].

In [16]:
def edu_num_sim(a1,a2,data):
        min_val = max_val = int(data[0][4])
        for i in range(len(data)-1):
            if data[i][4].isdigit():
                if int(data[i][4]) < min_val:
                    min_val = int(data[i][4])
                if int(data[i][4]) > max_val:
                    max_val = int(data[i][4])
        distance = abs(max_val - min_val)
        if data[a1][4] == '?' or data[a2][4] == '?':
            return -1
        else:
            num1 = int(data[a1][4])
            num2 = int(data[a2][4])
            sim = 1 - (float(abs(num1 - num2))/float(distance))
            return sim

### Example 5.1

In [17]:
print(data[10][4], data[16][4])
#data[10][4] is 10, data[16][4] is 9.
edu_num_sim(10, 16, data)
#Similarity is 0.9333333333333333.

10 9

0.9333333333333333

## 6. Marital-status

Description: 'Marital-status' is nominal data, such as Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse. So I compare the strings in the data and use 0 and 1 to indicate their similarity.

In [18]:
def marital_status_sim(a1,a2,data):
    if data[a1][5] == '?' or data[a2][5] == '?':
        return -1
    else:
        if data[a1][5] == data[a2][5]:
            return 1
        else:
            return 0

### Example 6.1

In [19]:
print(data[10][5], data[16][5])
#data[10][5] is 'Married-civ-spouse', data[16][5] is 'Never-married'.
marital_status_sim(10, 16, data)
#Similarity is 0.

Married-civ-spouse Never-married

0

## 7. Occupation

Description: 'Occupation' is nominal data, such as Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces. So I compare the strings in the data and use 0 and 1 to indicate their similarity.

In [20]:
def occupation_sim(a1, a2, data):
    if data[a1][6] == '?' or data[a2][6] == '?':
        return -1
    else:
        if data[a1][6] == data[a2][6]:
            return 1
        else:
            return 0

### Example 7.1

In [21]:
print(data[10][6],data[16][6])
#data[10][6] is 'Exec-managerial', data[16][6] is 'Farming-fishing'.
occupation_sim(10,16,data)
#Similarity is 0.

Exec-managerial Farming-fishing

0

## 8. Relationship

Description: 'Relationship' is nominal data, such as Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried. So I compare the strings in the data and use 0 and 1 to indicate their similarity.

In [22]:
def relationship_sim(a1,a2,data):
    if data[a1][7] == '?' or data[a2][7] == '?':
        return -1
    else:
        if data[a1][7] == data[a2][7]:
            return 1
        else:
            return 0

### Example 8.1

In [23]:
print(data[10][7], data[16][7])
#data[10][7] is 'Husband', data[16][7] is 'Own-child'.
relationship_sim(10, 16, data)
#Similarity is 0.

Husband Own-child

0

## 9. Race

Description: 'Race' is nominal data, such as White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black. So I compare the strings in the data and use 0 and 1 to indicate their similarity.

In [24]:
def race_sim(a1, a2, data):
    if data[a1][8] == '?' or data[a2][8] == '?':
        return -1
    else:
        if data[a1][8] == data[a2][8]:
            return 1
        else:
            return 0

### Example 9.1

In [25]:
print(data[10][8], data[16][8])
#data[10][8] is 'Black', data[16][8] is 'White'.
race_sim(10, 16, data)
#Similarity is 0.

Black White

0

### Example 9.2

In [26]:
print(data[5][8], data[16][8])
#data[5][8] is 'White', data[16][8] is 'White'.
race_sim(5, 16, data)
#Similarity is 1.

White White

1

## 10. Sex

Description: 'Race' is nominal data, such as Female, Male. So I compare the strings in the data and use 0 and 1 to indicate their similarity.

In [27]:
def sex_sim(a1,a2,data):
    if data[a1][9] == '?' or data[a2][9] == '?':
        return -1
    else:
        if data[a1][9] == data[a2][9]:
            return 1
        else:
            return 0

### Example 10.1

In [28]:
print(data[10][9], data[16][9])
#data[10][9] is 'Male', data[16][9] is 'Male'.
sex_sim(10, 16, data)
#Similarity is 1.

Male Male

1

### Example 10.2

In [29]:
print(data[5][9], data[16][9])
#data[5][9] is 'Female', data[16][9] is 'Male'.
sex_sim(5, 16, data)
#Similarity is 0.

Female Male

0

## 11. Capital-gain

Description: 'Capital-gain' is a numeric(continuous) data. So I used the Manhattan distance to calculate the similarity and normalized the distance to the interval [0,1].

In [30]:
def capital_gain_sim(a1,a2,data):
    min_val = max_val = int(data[0][10])
    for i in range(len(data)-1):
        if data[i][10].isdigit():
            if int(data[i][10]) < min_val:
                min_val = int(data[i][10])
            if int(data[i][10]) > max_val:
                max_val = int(data[i][10])
    distance = abs(max_val - min_val)
    if data[a1][10] == '?' or data[a2][10] == '?':
        return -1
    else:
        num1 = int(data[a1][10])
        num2 = int(data[a2][10])
        sim = 1 - (float(abs(num1 - num2))/float(distance))
        return sim

### Example 11.1

In [31]:
print(data[10][10], data[16][10])
#data[10][10] is 0, data[16][10] is 0.
capital_gain_sim(10, 16, data)
#Similarity is 1.

0 0

1.0

### Example 11.2

In [32]:
print(data[9][10], data[20][10])
#data[9][10] is 5178, data[20][10] is 0.
capital_gain_sim(9, 20, data)
#Similarity is 0.948219482194822.

5178 0

0.948219482194822

## 12. Capital-loss

Description: 'Capital-loss' is a numeric(continuous) data. So I used the Manhattan distance to calculate the similarity and normalized the distance to the interval [0,1].

In [33]:
def capital_loss_sim(a1,a2,data):
    min_val = max_val = int(data[0][11])
    for i in range(len(data)-1):
        if data[i][11].isdigit():
            if int(data[i][11]) < min_val:
                min_val = int(data[i][11])
            if int(data[i][11]) > max_val:
                max_val = int(data[i][11])
    distance = abs(max_val - min_val)
    if data[a1][11] == '?' or data[a2][11] == '?':
        return -1
    else:
        num1 = int(data[a1][11])
        num2 = int(data[a2][11])
        sim = 1 - (float(abs(num1 - num2))/float(distance))
        return sim

### Example 12.1

In [34]:
print(data[10][11], data[16][11])
#data[10][11] is 0, data[16][11] is 0.
capital_loss_sim(10, 16, data)
#Similarity is 1.

0 0

1.0

### Example 12.2

In [35]:
print(data[32][11], data[40][11])
#data[32][11] is 1408, data[40][11] is 0.
capital_loss_sim(32, 40, data)
#Similarity is 0.6767676767676767.

1408 0

0.6767676767676767

## 13. Hours-per-week

Description: 'Hours-per-week' is a numeric(continuous) data. So I used the Manhattan distance to calculate the similarity and normalized the distance to the interval [0,1].

In [36]:
def hourspweek_sim(a1,a2,data):
    min_val = max_val = int(data[0][12])
    for i in range(len(data)-1):
        if data[i][12].isdigit():
            if int(data[i][12]) < min_val:
                min_val = int(data[i][12])
            if int(data[i][12]) > max_val:
                max_val = int(data[i][12])
    distance = abs(max_val - min_val)
    if data[a1][12] == '?' or data[a2][12] == '?':
        return -1
    else:
        num1 = int(data[a1][12])
        num2 = int(data[a2][12])
        sim = 1 - (float(abs(num1 - num2))/float(distance))
        return sim

### Example 13.1

In [37]:
print(data[10][12], data[16][12])
#data[10][12] is 80, data[16][12] is 35.
hourspweek_sim(10, 16, data)
#Similarity is 0.5408163265306123.

80 35

0.5408163265306123

## 14. Native-country

Description: 'Native-country' is nominal data, such as United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands. So I compare the strings in the data and use 0 and 1 to indicate their similarity.

In [38]:
def country_sim(a1,a2,data):
    if data[a1][13] == '?' or data[a2][13] == '?':
        return -1
    else:
        if data[a1][13] == data[a2][13]:
            return 1
        else:
            return 0

### Example 14.1

In [39]:
print(data[10][13], data[16][13])
#data[10][13] is 'United-States', data[16][13] is 'United-States'.
country_sim(10, 16, data)
#Similarity is 1.

United-States United-States

1

### Example 14.2

In [40]:
print(data[39][13], data[52][13])
#data[39][13] is 'United-States', data[52][13] is 'Honduras'.
country_sim(39, 52, data)
#Similarity is 0.

United-States Honduras

0

## 15. Overall Function

There are totally 14 attributes divided into 2 categories: numrical or categorical.

### 15.1 Numrical variables

Numerical variables can be further divided into the following two categories.

Discrete variables (discrete): The values can only be calculated with natural numbers or integer units, and the values are intermittent, and there are no other values between two adjacent values, and the values of such variables are generally obtained by counting.

Continuous variable (continuous): The value can be taken in a certain interval, and the value is continuous.

In this dataset, we have only continuous variables, which include age, fnlwgt, education-num, capital-gain, capital-loss and hours-per-week. 

So I used the Manhattan distance to calculate the similarity and normalized the distance to the interval [0,1].

### 15.2 Categorical variables

Categorical variables can be further divided into the following two categories.

Ordinal variables: Describe the rank or order of things, the value of the variable can be numeric or character-based, and can then be compared to the advantages and disadvantages, such as the degree of liking: like very much, average, dislike .

Nominal variables: There is no order difference between the values, only for classification, and can be divided into binary categorical variables and multi-categorical variables. A binary categorical variable refers to dividing all data into two categories and the binary classification variable is a special classification variable with its own unique analysis method. Multi-category variable refers to more than two categories, such as blood type is divided into A, B, AB, O.

In this dataset, we have both nominal and ordinal variables. Regardless of that categorical variable, I use 0 to indicate that two variables have different values and 1 to indicate that the two variables have the same value.

### 15.3 Overall similarity

The overall similarity between two sample, I used the dissimilarity mixed type function to calculate and normalized the distance to the interval [0,1].

In [41]:
def overall_sim(a1, a2, data):
    sim_list_tmp = [age_sim(a1, a2, data), 
                    workclass_sim(a1, a2, data), 
                    fnlwgt_sim(a1,a2,data), 
                    edu_sim(a1, a2, data), 
                    edu_num_sim(a1,a2,data), 
                    marital_status_sim(a1,a2,data), 
                    occupation_sim(a1, a2, data), 
                    relationship_sim(a1,a2,data), 
                    race_sim(a1, a2, data), 
                    sex_sim(a1,a2,data), 
                    capital_gain_sim(a1,a2,data), 
                    capital_loss_sim(a1,a2,data), 
                    hourspweek_sim(a1,a2,data), 
                    country_sim(a1,a2,data)]
    sim_list  = []
    for i in sim_list_tmp:
        if i != (-1):
            sim_list.append(i)
    return 1 - sum(sim_list)/len(sim_list)

### Example 15.3.1

In [42]:
overall_similarity = overall_sim(16,23,data)
print(overall_similarity)
#Similarity is 0.4243047271764405.

0.4243047271764405